.content-side__list-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.content-side__list-item--img {
  width: 30px;
  height: 30px;
}

.content-side__list-item--title {
  margin-top: 7px;
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 16px;
  color: rgba(10, 20, 58, 1);
}

.content-side__list-item--text {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(10, 20, 58, 1);
}